<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Heroes A</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../../public/img/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <img src="/img/A-64.png" width="30" height="30" alt="A-Heroes">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/heroes">Heroes</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <small>List</small>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/hero/Aquaman">Aquaman</a>
            <a class="dropdown-item" href="/hero/Batman">Batman</a>
            <a class="dropdown-item" href="/hero/Daredevil">Daredevil</a>
            <a class="dropdown-item" href="/hero/Hulk">Hulk</a>
            <a class="dropdown-item" href="/hero/Linterna%20Verde">Linterna Verde</a>
            <a class="dropdown-item" href="/hero/Spiderman">Spiderman</a>
            <a class="dropdown-item" href="/hero/Wolverine">Wolverine</a>
            </div>
        </li>
        </ul>
        <div width="300px" style="margin-right: 5px">
            <form action="/search" method="POST">
                <input class="form-control mr-sm-2" type="search" name="hero" placeholder="Search Hero...">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
            </form>
        </div>
    </div>
    </nav>