<%- include("partials/header") -%>

<div class="container main-container">
    <h1>Who are Heroes A?</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quia, debitis dignissimos perferendis a ab, temporibus quo natus hic architecto pariatur commodi. Maiores iusto cumque fuga, laudantium non quisquam dolorum.</p>
</div>

<%- include("partials/footer") -%>