<%- include("partials/header") -%>

<div  class="main-container">
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 animated fadeIn fast">Heroes A</h1>
        <p class="lead animated fadeIn">Los superhéroes que merecen una A</p>
    </div>
    </div>
</div>

<%- include("partials/footer") -%>